* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
div {
  display: inline-block;
  padding: 15px;
  width: 500px;
  margin: 10px;
     }

.box {
  font-size: 20px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  border-width: 1px;
  width: 110px;
    border-style: solid;
 text-decoration: none;
 padding: 10px;
}

}
.ssilki blue {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
}

.ssilki {
  width: 150px;
  font-family: "Playfair Display";
   padding: 10px;
}

a {
  display: inline-block; 
  text-decoration: none; 
  color: rgb(98, 98, 98);
}
a:hover {
   color: blue; 
}

h4 {
  font-size: 30px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  
}
.Lorem_ipsum_dolor_sit_amet__consectetur_adipisi {
  font-size: 14px;
  font-family: "Playfair Display-Regular";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
}
.Lifestyle {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
   }
main {
 padding:  30px 290px;
 
}
 